@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    background-image: url(./3.jpeg);
    background-size: cover;
    background-repeat: repeat-y;
    justify-content: center;
    align-items: center;
 
}
.container{
    display: grid;
    grid-template-areas: 
    "header header"
    "main main"
    ;
    height: 100vh;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr 80px;

}
.header{
    grid-area: header;
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background-color: rgba(0, 255, 255, 0.11);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{ 
   font-size: 30px;
   color: rgb(6, 206, 89);
   text-decoration: none;
   font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 20px;
    color: gray;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: gray;
    transition: .3s;  
}

.navbar a:hover::before{
    width: 100%;
}

.main{
    align-items: center;
    grid-area: main;
    position: relative;
    margin-top: 100px;  
    margin-left: 300px;
}

.categoriaproductos{   
    position:relative;
    background-color: transparent;
    border-radius: 45px;
    text-align: center;
    text-decoration: solid; 
    font: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px 80px; 
}

.img{
    align-items: center;
    background-size: auto;
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 20px; 
    border-radius: 150px;
    height: 200px;
    width: 200px;
}

.btnmain{
    font-size: 20px;
    color:antiquewhite;
    font-weight: 500;
    text-decoration: none;
}

.DisposicionMain{
    display: flex;
    align-items: center; 
}

.lista{
    border: none;
    background-color: rgba(128, 128, 128, 0.13);
    color: gray;
    font-weight: 500;   
    font-size: 20px; 
    cursor: pointer; 
}

.boton{
    background-color: transparent;
    color: antiquewhite;
    border-style: groove;
    padding: 5px 20px 5px;
}

.cantidad{
    background-color: transparent;
    color: antiquewhite;
    border-style: groove; 
    margin: auto;
    height: 35px;
    width: 50px;
    text-align: center;
}

.titulo{
    text-align: center;
}
